@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

h2 {
  font-weight: 700;
}

body {
  font-family: "PT Sans";
  font-weight: 700;
  min-height: 100%;
  width: 1200px;
  margin: 0px auto;
}

h1 {
  display: none;
}

header {
  font-size: 14px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  -webkit-box-shadow: 1px 6px 15px 3px rgba(34, 60, 80, 0.12);
          box-shadow: 1px 6px 15px 3px rgba(34, 60, 80, 0.12);
  z-index: 1;
}

.header-nav {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__item.header-nav__item_logo {
  width: 140px;
  height: 70px;
}

.header-nav__item.header-nav__item_left {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 72px;
}

.header-nav__item.header-nav__item_center {
  padding-top: 22px;
  padding-bottom: 22px;
}

.header-nav__item.header-nav__item_right {
  padding-top: 22px;
  padding-right: 72px;
  padding-bottom: 22px;
}

.link {
  padding: 10px;
  color: black;
}

.home-page {
  background: url(img/main.jpg);
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: cover;
}

.home-page__welcome {
  background: url("img/welcome.png") center no-repeat;
  height: 353px;
  margin-top: 60px;
}

.home-page__white-line {
  background: url("img/polygon.svg") center no-repeat;
  height: 60px;
  position: relative;
  top: 2px;
}

.home-page__white {
  background-color: white;
  padding: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page__title {
  font-size: 21px;
  text-align: center;
  line-height: 26px;
}

.home-page__subtitle {
  font-size: 14px;
  color: #474747;
  padding-top: 40px;
  text-align: center;
  font-weight: 400;
}

.photo {
  height: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo__right.photo__right_blue {
  background-color: #81B4D3;
  width: 33.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo__left.photo__left_blue {
  background-color: #81B4D3;
  width: 33.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo__title {
  font-size: 21px;
  text-align: center;
  color: white;
  padding-top: 46px;
}

.photo__subtitle {
  font-size: 14px;
  color: white;
  text-align: center;
  font-weight: 400;
}

.photo__text {
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 20px;
  padding-bottom: 65px;
  font-weight: 400;
}

.advantage__base {
  height: 330px;
  /* не смог убрать высоту */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__block {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.advantage__title {
  font-size: 21px;
  text-align: center;
}

.advantage__subtitle {
  padding-bottom: 85px;
  text-align: center;
  line-height: 21px;
  font-size: 14px;
  color: #474747;
  font-weight: 400;
}

.text-block__base {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-block__list {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-block__title {
  font-size: 21px;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 25px;
}

.text-block__subtitle {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.text-block__text {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  padding-top: 25px;
  padding-bottom: 65px;
  font-weight: 400;
  color: #474747;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question__title {
  font-size: 28px;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 26px;
}

.question__subtitle {
  line-height: 20px;
  color: #474747;
  text-align: center;
  font-weight: 400;
  padding-bottom: 138px;
}

.form {
  padding-bottom: 192px;
  max-height: 100%;
  background: url("img/map.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__base {
  width: 47%;
  margin: 0 auto;
  position: relative;
  margin-top: -86px;
  -webkit-box-shadow: 0px 5px 15px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px 7px rgba(0, 0, 0, 0.1);
}

.form__top-bg {
  background-color: #756357;
  height: 86px;
  font-size: 21px;
  color: white;
  text-align: center;
  line-height: 86px;
}

.form__white-bg {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 50px;
}

.form__punkt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 173px;
}

.form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 38px;
}

.form__title {
  padding-right: 21px;
  line-height: 38px;
}

.form__text-line {
  width: 346px;
  background-color: #F2F2F2;
  text-align: left;
  line-height: 38px;
  padding-left: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  background-color: #F2F2F2;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  color: #474747;
}

.form__calendar {
  padding-top: 8px;
  padding-right: 13px;
}

.form__two-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__text.form__text_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 49.2%;
}

.form__two-title.form__two-title_left {
  padding-right: 21px;
  line-height: 38px;
}

.form__two-title.form__two-title_right {
  padding-left: 44px;
  line-height: 38px;
}

.form__title.form__title_change {
  padding-left: 16px;
}

.form__change {
  width: 114px;
  /* ширина */
  background-color: #F2F2F2;
  text-align: left;
  line-height: 38px;
  padding-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__title.form__title_change {
  padding-top: 1px;
}

.form__minus {
  padding-top: 18px;
  background-color: #F2F2F2;
}

.form__plus {
  padding-top: 10px;
  padding-right: 14px;
  background-color: #F2F2F2;
}

.form__button-bg {
  padding-bottom: 56px;
  padding-left: 50px;
  background-color: white;
}

.form__button {
  height: 58px;
  width: 89.4%;
  background-color: #81B4D3;
  color: white;
  text-align: center;
  line-height: 58px;
  font-size: 21px;
  font-weight: 700;
}

.footer {
  padding: 0 72px;
  background-color: rgba(255, 255, 255, 0.7);
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: -120px;
}

.footer__data {
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 30px;
  width: 33.33%;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
}

.footer__icons.footer__icons_left {
  width: 90%;
  background-color: #81B4D3;
  margin-top: 36px;
  margin-right: 6px;
  padding: 17px 14px 16px 15px;
  /*Можно ли так оставить, если все 4 значения разные?*/
}

.footer__icons.footer__icons_center {
  width: 90%;
  background-color: #81B4D3;
  margin-top: 36px;
  margin-right: 6px;
  padding: 13px 17px;
}

.footer__icons.footer__icons_right {
  width: 90%;
  background-color: #81B4D3;
  margin-top: 36px;
  margin-right: 6px;
  padding: 16px 13px;
}

.footer__html-academy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
}

.footer__text {
  padding-top: 54px;
  padding-bottom: 52px;
  padding-right: 16px;
}

.footer__logo {
  padding-top: 39px;
}

address {
  font-style: normal;
}

.link:hover {
  color: #756357;
}

.link_phone {
  color: black;
}

.form__button:hover {
  background-color: #94c1dd;
}

.footer__icons.footer__icons_left:hover {
  background-color: #94c1dd;
}

.footer__icons.footer__icons_center:hover {
  background-color: #94c1dd;
}

.footer__icons.footer__icons_right:hover {
  background-color: #94c1dd;
}
