@import "_nullstyle";

$blue-color: #81B4D3;
$gray-text-color: #474747;
$hover-blue-color: #94c1dd;

@import "_header";
@import "_main";
@import "_footer";

address {
    font-style: normal
  }
  
.link:hover{
    color:#756357;
}

.link_phone{
    color: black;
}

.form__button:hover{
    background-color: $hover-blue-color;
}

.footer__icons.footer__icons_left:hover{
    background-color: $hover-blue-color;
}

.footer__icons.footer__icons_center:hover{
    background-color: $hover-blue-color;
}

.footer__icons.footer__icons_right:hover{
    background-color: $hover-blue-color;
}